---
import Layout from '@layouts/Layout.astro';
---

<Layout title="About us page" description="about me">
	<main>
		The about Us Page
		<img src="/images/headshot.jpg" alt="Astro logo" />
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint harum hic quo ea quidem cumque rem tempora corrupti! Natus quasi doloribus voluptates dolorum delectus neque commodi temporibus, mollitia dolore autem facere officiis quo sequi tempora, ad veniam, dignissimos minus repellendus.</p>
	</main>
</Layout>

<style>

</style>
